[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-admin-menu = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "2.7"
