{% extends "core/site_base.html" %} {% block content%} 

<section class="container w-50">
<h1>Login</h1>
<form method="post">
    {% csrf_token %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% if form.error %}
        {{form.error}}
        {% endif %}
    </div>
    {% endif %}  
      {{ form.as_p}}
      <button type="submit" class="btn btn-primary mt-2">Regiser</button>  
      <div>
        <a href="/login">Login</a>
      </div>
  </form>
</section>  

{% endblock %}
